html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

b {
    font-size: 13px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 1.75em;
    font-weight: bold;
}

#header {
    float: left;
    height: 7%;
    width: 100%;
    overflow: hidden;
}

#content {
    padding-left: 5px;
    padding-right: 5px;
}

#original_button {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1.5em;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-align: center;
}

#margin {
    height: 5%;
}

#map-canvas {
    height: 40%;
    padding: 0;
}

#price_bin_dist_by_state {
}

#latest_prices_content {
    font-size: 0.9em;
}

#postingBodyContent {
    font-size: 0.85em;
    border: 2px solid #a1a1a1;
    padding: 20px; 
    background: #dddddd;
    border-radius: 25px;
}

#tag {
    border: 2px solid #AF0000;
    padding: 10px; 
    background: #FF5050;
    border-radius: 25px;
    font-size: 1.15em;
    font-weight: bold;
    color: white;
}

#tag a {
    color: white;
    text-decoration: underline;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    font: 8px sans-seriff;
}

.y.axis text {
    text-anchor: start;
}

.bar {
    fill:steelblue;
}

.x.axis path {
    display: none;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-seriff;
    text-anchor: start;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 850px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 160px;
    height: 55px;
    z-index: 10;
}

#price_per_unit {
    float: left;
    overflow: hidden;
}

#footer {
    float: left;
    width: 100%;
    overflow: hidden;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* ------------------------- */
