extends layout-simple

block content
  div(class='row' id ='content')
        div(class='hidden-xs hidden-sm col-md-2 col-lg-2')
        div(class='col-xs-12 col-sm-12 col-md-3 col-lg-3')
            span
                | Do you want to get your E-Commerce Store Listed at Oizoioi ? We Help you sell! Contact us at sales@oizoioi.com.my
            span
                | If you have any comments and complaints about Oizoioi, please send them to us by filling out the form below
            form(id='form1' name='form1' method='post' action='' style='margin-top:8px;')
                table(width='100%' border='1' cellspacing='10' cellpadding='0' id='form_content')
                tr
                    td(class='text_form' id='ffullname_text')
                        | Name:
                tr
                    td
                        label
                            input(name='textfield' type='text' class='input_form' id='ffullname' size='45')
                tr
                    td(class='text_form' id='femail_text')
                        | Email:
                tr
                    td
                        label
                            input(name='textfield2' type='text' class='input_form' id='femail' size='45')
                tr
                    td(class='text_form' id='faddress_text')
                        | Address
                tr
                    td
                        label
                            input(name='textfield3' type='text' class='input_form' id='faddress' size='45')
                tr
                    td(class='text_form' id='ftitle_text')
                        | Title
                tr
                    td
                        label
                            input(name='textfield4' type='text' class='input_form' id='ftitle' size='45')
                tr
                    td(class='text_form' id='fdescription_text')
                        | Detail:
                tr
                    td
                        label
                            textarea(name='textarea' id='fdescription' cols='43' rows='5' class='area_form')
                tr
                    td
                        label
                            input(type='button' name='button' id='button' value='Send' class='sub_form_contact' style='float:right; margin-right:1px;' onclick='submit_func()')
            p
                | &nbsp;


        div(class='col-xs-12 col-sm-12 col-md-5 col-lg-5')
            p(class='text_yellow_uppercase' style='font-weight:bold; font-size:15px;')
                | About Oizoioi
            p(class='text_yellow_uppercase')
                | &nbsp;
            p
                | You search for cheap offers and want to buy at the best prices? Then you found the right place at www.oizoioi.com.my. Compare the offers of numerous online retailers – from cheap tablets and electronics to home appliances to Sports and Fashion and everything for your entertainment. Above that you find a lot of helpful information at our site to help you with your buying decision. We publish not only the product information but also Retailer ratings, product tests and customers review
            p
                | &nbsp;
            p
                | All of the listed retailers on www.oizoioi.com.my have been tested by a special team for their security and their service. It is very important for us that our partner retailers take maximum care for their customer satisfaction and the Quality of their shop. That’s why we check the actuality of their offers regularly. Should you have any problems though, please contact us on support@oizoioi.com.my
            p
                | &nbsp;
            p
                | A good online retailer is characterized by the following points:
            p
                | &nbsp;
            ul
                <li>Fair Shipping Costs
                <li>Secure Payment Methods
                <li> Always available for customers
                <li> Error-free ordering process in the online shop
                <li> Short delivery times
                <li> Comply with legal requirements
                <li> Excellent Customer Service
                <li> User-friendly store design
            p
                | &nbsp;
            p
                | Shop ratings by our visitors
            p
                | &nbsp;
            p
                | Last but not least we show you the ratings of other Oizoioi users about the quality of the listed online shops. In our shop ratings you can see in detail which experiences the users made with the different online shops on oizoioi.com.my.
            p
                | &nbsp;
            p
                | Shop ratings
            p
                | The more stars a shop has been given, the better rating he got by our users. Please check as well how many positive user ratings the shops got and how actual these ratings are. The more users wrote down their positive experiences with the online shops the more you can rely on the online shops for delivery, payments and the order process. 
            Did you have good or bad experiences with online shops? With a few clicks you can share those impressions with our other users and make sure that we continue to only list the best online shops in the philippines on oizoioi.com.my
            p
                | &nbsp;
            p
                | Product Reviews and ratings
            p
                | We will also show you the ratings of Oizoioi users who actually ordered the product before you. The more starts a product has the more positive user ratings a product got. User ratings and reviews are often the best way to see if a product has a high quality and will fit your needs since users are independent and often more honest in their product reviews then the brands and producers
            p
                | &nbsp;
            p
                | Secure Payment Methods
            p
                | &nbsp;
            p
                | Online Shopping is easy: You have a huge choice of products and with a few clicks you can fill your shopping basket. When its time to pay and the online shops list the multiple payment methods a lot of users cancel their shopping. Either they don't like the payment methods or maybe don't even know them. oizoioi.com.my brings light into the payment darkness - which attributes should a good payment method have?
            p
                | &nbsp;
            p
                | A payment system should be secure but easy and comfortable to use at the same time. As well its very important how often a payment system is offered online and how high the transaction volume is.
            p
                | &nbsp;
            p
                | We can recommend the following payment methods:
            ul
                li
                    | Bank transfer
                li
                    | Cash on delivery
                li
                    | Credit Card
                li
                    | Paypal
            p
                | Please take care - Some online retailers take an extra charge for cash on delivery.
            p
                | &nbsp;
            p
                | We can not recommend the payment method of paying before delivery.
            p
                | &nbsp;
            p
                | When you pay your order before delivery it means that the danger exists that you actually will never get your order delivered. As well a lot of smaller retailers collect orders before they order themselves at wholesalers. This can take some time and is less then comfortable for the customer. Last but not least, if the online retailer should go broke its often not possible to get back the money you transferred, so don't take the risk and only pay after you have got your order convenient at your home.
            p
                | &nbsp;
        div(class='hidden-xs hidden-sm col-md-2 col-lg-2')