doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='/stylesheets/bootstrap.css')

    script(type='text/javascript' src='http://d3js.org/d3.v3.min.js')
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' charset='utf-8')
    script(type='text/javascript', src='/javascripts/common.js')
    script(src='/javascripts/bootstrap.js')

    script(type='text/javascript')
      | var map = null;
      | var markerClusterer = null;
      | var markerArray = [];

      | var cache = [];

      | var mapBound = null;
      | var stateFilter = null;
      | window.onload = loadData();

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-60747888-1', 'auto');
      | ga('send', 'pageview');

  body
    div(id='header')
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
              span(class='sr-only')
                | Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')

            a(class='navbar-brand' href='/')
              | LeafyExchange

          div(id='navbar' class='navbar-collapse collapse')
            form(class='navbar-form')
              div(class='form-group')
                | <input type="text" placeholder="Location (Ex: 420 Pontius Ave N, Seattle, WA, 98103)" class="form-control">
              button(type='submit' class='btn btn-success')
                | Search

    div(class='row' id ='content')
      div(id='left_pane' class='col-xs-12 col-sm-12 col-md-7 col-lg-9')
        div(id='map-canvas')

        div(id='price_bin' class='hidden-xs')
          div(id='price_bin_dist_by_state')

      div(class='clearfix visible-xs-block')

      div(id='right_pane' class='col-xs-12 col-sm-12 col-md-5 col-lg-3')
        div(id='right_pane_content')
          table(id='latest_prices_content' class='table table-striped table-condensed table-responsive')
            thead
              tr
                th
                  | Date Posted
                th
                  | Locations
                th
                 | Quantities
                th
                  | Prices
            tbody(id='table_body')
              each posting in postings
                if (posting['city'])
                  tr
                    td
                    td
                      = posting['city']
                    td
                      = posting['quantity'] + ' ' + posting['unit']
                    td
                      != '<a href="/posting/'
                      = posting['id']
                      != '"">$'
                      = posting['price']
                      != '</a>'

    <!-- FOOTER -->
    div(class='row')
      hr(class='featurette-divider col-xs-12 col-sm-12 col-md-12 col-lg-12')

      div(id='footer' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
        p(class='pull-right')
          a(href='#')
            | Back to top
        p
          | &copy; 2015 LeafyExchange, Inc. &middot; 
          a(href='/privacy')
            | Privacy
          | &middot;
          a(href='/terms')
            | Terms
          | &middot;
          a(href='/contactus')
            | Contact Us
