extends layout

block content
    div(class='row' id ='content')
      div(id='left_pane' class='col-xs-12 col-sm-12 col-md-7 col-lg-8')
        div(id='map-canvas')

        div(id='price_bin' class='hidden-xs')
          div(id='price_bin_dist_by_state')

      div(class='clearfix visible-xs-block')

      div(id='right_pane' class='col-xs-12 col-sm-12 col-md-5 col-lg-4')
        ul(class="nav nav-tabs")
          li(class="active")
            a(data-toggle="tab" href="#sectionA")
              h2(style='font-size:0.9em; font-weight:bold')
                | Cannabis Business
          li
            a(data-toggle="tab" href="#sectionB")
              h2(style='font-size:0.9em; font-weight:bold')
                | Marijuana Sales

        div(class="tab-content")
          div(id="sectionA" class="tab-pane fade in active")
            table(id='cannabis_business_content' class='table table-striped table-condensed table-responsive')
              thead
                tr
                  th(class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center")
                    | Address
                  th(class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center")
                    | Business
                  th(class="hidden-xs hidden-sm col-md-2 col-lg-2 text-center")
                    | Rating
                  th(class="hidden-xs hidden-sm col-md-2 col-lg-2 text-center")
                    | Phone
            div(id='right_pane_content')
              table(id='cannabis_business_content' class='table table-striped table-condensed table-responsive' style='table-layout: fixed; overflow-x: hidden')
                tbody(id='table_body_local_business')
                  - if (localBusinesses.length == 0) {
                      | <tr><td class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href='/state/all'>No marijuana business here now. Checkout other cannabis businesses around the US</a></td></tr>
                  - }

                  - for (var i = 0; i < localBusinesses.length; ++i) {
                    - if (i > 50) {
                        | <tr><td class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href='javascript:void' onclick='updateDisplay();'>See more</a></td></tr>
                    -   break
                    - }
                    - localBusiness = localBusinesses[i]
                    if (localBusiness['city'])
                      tr
                        td(class="col-xs-6 col-sm-6 col-md-4 col-lg-4")
                          = localBusiness['address']
                        td(class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center")
                          strong
                            = localBusiness['title']
                        td(class="hidden-xs hidden-sm col-md-2 col-lg-2 text-center")
                          if (localBusiness['rating'] === null || localBusiness['rating'] == -1)
                            | No rating
                          else
                            = localBusiness['rating']
                        td(class="hidden-xs hidden-sm col-md-2 col-lg-2")
                          if (localBusiness['phone_number'] == null)
                            | No number
                          else
                            = localBusiness['phone_number']
                  - }

          div(id="sectionB" class="tab-pane fade")
            table(id='latest_prices_content' class='table table-striped table-condensed table-responsive')
              thead
                tr
                  th(class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center")
                    | Date/Locations
                  th(class="col-xs-8 col-sm-8 col-md-6 col-lg-6 text-center")
                    | Post title
                  th(class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center")
                    | Quantities
                  th(class="hidden-xs hidden-sm col-md-2 col-lg-2 text-center")
                    | Prices
            div(id='right_pane_content')
              table(id='latest_prices_content' class='table table-striped table-condensed table-responsive' style='table-layout: fixed; overflow-x: hidden')
                tbody(id='table_body_posting')
                  - if (postings.length == 0) {
                      | <tr><td class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href='/state/all'>No marijuana sales here now. Checkout other sales around the US</a></td></tr>
                  - }

                  - for (var i = 0; i < postings.length; ++i) {
                    - if (i > 50) {
                        | <tr><td class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href='javascript:void' onclick='updateDisplay();'>See more</a></td></tr>
                    -   break
                    - }
                    - posting = postings[i]
                    - priceString = pricesString[i]
                    - quantityString = quantitiesString[i]
                    if (posting['city'])
                      tr
                        td(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
                          = posting['datePosted'] + " - " + posting['city']
                        td(class="col-xs-8 col-sm-8 col-md-6 col-lg-6 text-center")
                          strong
                            = posting['title']
                        td(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
                          != '<a href="/posting/'
                          = posting['url']
                          != '">'
                          if (posting['quantity'] == null)
                            | Check Quantity!
                          else
                            = quantityString
                          != '</a>'
                        td(class="hidden-xs hidden-sm col-md-2 col-lg-2")
                          != '<a href="/posting/'
                          = posting['url']
                          != '">'
                          if (posting['price'] == null)
                            | Check Price!
                          else
                            = priceString
                          != '</a>'
                  - }

    script(type='text/javascript')
      | var map = null;
      | var markerClusterer = null;
      | var markerArray = [];

      | var cache = [];

      | var mapBound = null;
      | var stateFilter = null;
      | var state = null;
      | var timeoutID = null;
      | var geocoder = null;
      | var curLatLng = null;
      | window.onload = loadData();
