doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    script(type='text/javascript', src='/javascripts/common.js')
    script(type='text/javascript')
      | var xmlhttp;
      | // code for IE7+, Firefox, Chrome, Opera, Safari
      | if (window.XMLHttpRequest)
      | {
      |   xmlhttp=new XMLHttpRequest();
      | }
      | // code for IE6, IE5
      | else
      | {
      |   xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      | }

      | xmlhttp.onreadystatechange=function()
      | {
      |   if (xmlhttp.readyState==4 && xmlhttp.status==200)
      |   {
      |     var markers = JSON.parse(xmlhttp.responseText);

      |     initialize(markers);
      |   }
      | }

      | xmlhttp.open("GET","/locations",true);
      | xmlhttp.send();
  body
    div(id='header')
      | Header

    div(id='content')
      div(id='left_pane')
        | Average Price by State
        div(id='map-canvas')

        div(id='price_bin')
          div(id='price_bin_dist_by_state')
            | Price Distribution by State

          div(id='price_per_unit')
            | Price (per gram) (bin)

      div(id='right_pane')
        div(id='right_pane_header')
          | Latest Prices
        div(id='right_pane_content')
          table(id='latest_prices_content')
            tr
              td(id='locations')
                | Locations
              td(id='quantities')
                | Quantities
              td(id='prices')
                | Prices

    div(id='footer')
      | Footer