doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/common.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA59fRrwKrIwATNyiob1CeXnhowhtcVtn8')
    
    block content