extends layout

block content
    div(class='row' id ='content')
      div(id='hidden' class='col-md-2 col-lg-2 hidden-xs hidden-sm')

      div(id='map-canvas' class='col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs')
      div(id='price_bin_dist_by_state' class='col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs')

      div(id='hidden' class='col-md-2 col-lg-2 hidden-xs hidden-sm')

    div(id='postingBodyContent' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')

    script(type='text/javascript')
      | var map = null;
      | var markerClusterer = null;
      | var markerArray = [];

      | var cache = [];

      | var mapBound = null;
      | var stateFilter = null;
      | window.onload = loadData();