extends layout

block content
    div(class='row' id ='content')
      div(id='map-content' class='col-xs-12 col-sm-6  col-md-6 col-lg-6 ')
        div(id='map-canvas')
        a(href=url style="font-size:25px") Go to original posting
      div(id='price_bin_dist_by_state' class='hidden-xs col-sm-6  col-md-6 col-lg-6 ')

      div(class='clearfix')

      div(id='postingBodyContent'      class='col-xs-12 col-sm-6  col-md-6 col-lg-6')
        != content

      div(id='right_pane'              class='col-xs-12 col-sm-6  col-md-6 col-lg-6')
        div(id='right_pane_content')
          table(id='latest_prices_content' class='table table-striped table-condensed table-responsive')
            thead
              tr
                th
                  | Date Posted
                th
                  | Locations
                th
                 | Quantities
                th
                  | Prices
            tbody(id='table_body')

      

    script(type='text/javascript')
      | var map = null;
      | var markerClusterer = null;
      | var markerArray = [];

      | var cache = [];

      | var mapBound = null;
      | var stateFilter = null;
      | window.onload = loadData();