extends layout

block content
  div(class='row' id ='content' style="height:10%")
        div(class='hidden-xs hidden-sm col-md-2 col-lg-2')
        div(class='col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center' style="font-size:1.5em")
            p
            p
            p
                | We've contacted nearby sellers with your request, you should expect to hear back from them shortly.