extends layout

block content
    div(class='row' id ='content')
        div(class='hidden-xs hidden-sm col-md-2 col-lg-2')
        div(class='col-xs-12 col-sm-12 col-md-8 col-lg-8')
            p
                | Welcome to LeafyExchange. These terms and conditions ("Terms and Conditions") apply to the Site and all of its divisions, subsidiaries, and affiliate operated Internet sites which reference these Terms and Conditions.
            p
                | &nbsp;
            p
                | You confirm your understanding of the Terms and Conditions by accessing this Site. You shall not use this website if you disagree with the Terms and Conditions of use. The Site reserves the right, to change, modify, add, or remove portions of these Terms and Conditions of use at any time. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions of use regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions of use constitutes your acceptance of those changes.
            p
                | &nbsp
            h1
                span(class='text_yellow_uppercase')
                    | USE OF THE SITE
            p
                | &nbsp
            p
                You must be at least 18 years of age or access the Site under the supervision of a parent or legal guardian.
            p
                | &nbsp
            p
                | We grant you a non-transferable and revocable license to use the Site, under the Terms and Conditions described, for the purpose of procuring personal items sold on the Site. Commercial use or use on behalf of any third party is forbidden, except as explicitly permitted by us in advance. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted in this paragraph without notice to you.
            p
                | &nbsp
            p
                | Content provided on this site is solely for informational purposes. Product (Weed, Marijuana, Pot) representations expressed on this Site are those of the vendor and are not made by us. Submissions or opinions expressed on this Site are those of the individual posting such content and may not reflect our opinions.
            p
                | &nbsp
            p
                | Certain services and related features that may be made available on the Site may require registration or subscription. Should you choose to register or subscribe for any such services or related features, you agree to provide accurate and current information about yourself, and to promptly update such information if there are any changes. Every user of the Site is solely responsible for keeping passwords and other account identifiers safe and secure. The account owner is entirely responsible for all activities that occur under such password or account. Furthermore, you must notify us of any unauthorized use of your password or account. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.
            p
                | &nbsp
            p
                | During the registration process you agree to receive promotional emails from the Site. You can subsequently opt out of receiving such promotional e-mails by clicking on the link at the bottom of any promotional email.
            p
                | &nbsp
            p
                span(class='text_yellow_uppercase')
                    | USER SUBMISSIONS
            p
                | &nbsp
            p
                Anything that you submit to the Site and/or provide to us, including but not limited to, questions, reviews, comments, and suggestions (collectively, "Submissions") will become our sole and exclusive property and shall not be returned to you. In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you also grant us the right to use the name that you submit, in connection with such review, comment, or other content. You shall not use a false e-mail address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions. We may, but shall not be obligated to, remove or edit any Submissions.
            p
                | &nbsp
            p
                span(class='text_yellow_uppercase')
                    | ORDER ACCEPTANCE AND PRICING
            p
                | &nbsp
            p
                | Please note that there are cases when an order cannot be processed for various reasons. The Site reserves the right to refuse or cancel any order for any reason at any given time. You may be asked to provide additional verifications or information, including but not limited to phone number and address, before we accept the order.
            p
                | &nbsp
            p
                | We are determined to provide the most accurate pricing information on the Site to our users; however, errors may still occur, such as cases when the price of an item is not displayed correctly on the website. As such, we reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may, at our own discretion, either contact you for instructions or cancel your order and notify you of such cancellation. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged.
            p
                | &nbsp
            p
                span(class='text_yellow_uppercase')
                    | TRADEMARKS AND COPYRIGHTS
            p
                | &nbsp
            p
                | All intellectual property rights, whether registered or unregistered, in the Site, information content on the Site and all the website design, including, but not limited to, text, graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software shall remain our property. The entire contents of the Site also are protected by copyright as a collective work under Malaysia copyright laws and international conventions. All rights are reserved.
            p
                | &nbsp
            p
                span(class='text_yellow_uppercase')
                    | APPLICABLE LAW AND JURISDICTION
            p
                | &nbsp
            p
                | These Terms and Conditions shall be interpreted and governed by the laws in force in Manila, Malaysia. Subject to the Arbitration section below, each party hereby agrees
            p
                | &nbsp
        div(class='hidden-xs hidden-sm col-md-2 col-lg-2')